img, embed, object, video {
  max-width: 100%;
}

/*a {
  padding: 1.5em;  // for ensuring buttons big enough to be clickable
}*/
/* small: 0 - 550 */
@media screen and (max-width: 550px) {

}
/* medium: 550 - 700, display: flex, rows get by making them % of width, making sure the previous row will push down */
@media screen and (min-width: 550px) and (max-width: 700px) {
  
}
/* large: >700, usually add some margins */
/* okay to use pixel for width here since media query looks for width by pixel already */
/*@media screen and (min-width: 700px) {
  .container {
    width: 700px;
    margin-left: auto;
    margin-right: auto;
  }
}*/
